<div class="lightbox-frame dialog popup-content big">
    <div class="iphone">
        <div class="block"></div>
    </div>
    <div class="holder">
        <a href="#" class="close">X</a>
        <form action="#" class="event-form">
            <fieldset>
                <legend>добавление собития</legend>
                <div class="holder">
                    <div class="img-holder">
                        <label>изображение</label>
                        <div class="img-block"></div>
                        <button class="add-image">загрузить изображение</button>
                    </div>
                    <div class="fields">
                        <label for="tetx1">дата события</label>
                        <input type="text" id="tetx1">
                        <label for="tetx2">название события</label>
                        <input type="text" id="tetx2">
                        <label for="textfield1">текс сообщения</label>
                        <textarea id="textfield1"></textarea>
                        <div class="row">
                            <ul class="color-list">
                                <li><input type="radio" name="colors" id="color1"><label class="color1" for="color1">color1</label></li>
                                <li><input type="radio" name="colors" id="color2"><label class="color2" for="color2">color2</label></li>
                                <li><input type="radio" name="colors" id="color3"><label class="color3" for="color3">color3</label></li>
                                <li><input type="radio" name="colors" id="color4"><label class="color4" for="color4">color4</label></li>
                                <li><input type="radio" name="colors" id="color5"><label class="color5" for="color5">color5</label></li>
                                <li><input type="radio" name="colors" id="color6"><label class="color6" for="color6">color6</label></li>
                                <li><input type="radio" name="colors" id="color7"><label class="color7" for="color7">color7</label></li>
                                <li><input type="radio" name="colors" id="color8"><label class="color8" for="color8">color8</label></li>
                                <li><input type="radio" name="colors" id="color9"><label class="color9" for="color9">color9</label></li>
                            </ul>
                            <strong>цвет текста</strong>
                        </div>
                        <h2>старт публикации</h2>
                        <div class="col-holder">
                            <div class="col">
                                <ul class="check-list">
                                    <li><input type="checkbox" name="" id="check1"><label for="check1">сейчас</label></li>
                                    <li><input type="checkbox" name="" id="check2"><label for="check2">выбрать дату</label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <button>добавить событие</button>
            </fieldset>
        </form>
    </div>
</div>