<div class="box-holder">
    <a href="#" class="box stat"><img src="source/assets/images/none.gif" alt="" /></a>
    <a href="#" class="box news"><img src="source/assets/images/none.gif" alt="" /></a>
    <a href="#" class="box sales"><img src="source/assets/images/none.gif" alt="" /></a>
    <a href="#" class="box presents"><img src="source/assets/images/none.gif" alt="" /></a>
    <a href="#" class="box message"><img src="source/assets/images/none.gif" alt="" /></a>
    <a href="#" class="box settings"><img src="source/assets/images/none.gif" alt="" /></a>
</div>