<div id="header">
    <h1 class="logo"><a href="#">customers for a lifetime<span>Клиенты на всю жизнь</span></a></h1>
    <a href="#" class="log-out">Выход</a>
    <dl class="balance">
        <dt class="first-row">баланс</dt>
        <dd class="first-row">400.00</dd>
        <dt>дата оплаты:</dt>
        <dd>04.04.14</dd>
    </dl>
</div>
<div id="main">
    <div id="sidebar">
        <ul class="menu">
            <li><a href="#" class="stat">статистика</a></li>
            <li><a href="#" class="news">новости</a></li>
            <li><a href="#" class="sales">акции</a></li>
            <li><a href="#" class="presents">подарки</a></li>
            <li><a href="#" class="message">push<br /> сообщения</a></li>
            <li><a href="#" class="settings">настройки</a></li>
        </ul>
        <strong class="date">
            23.03.14
            <span>воскресенье</span>
        </strong>
    </div>
    <div id="content">

    </div>
</div>
<div id="footer">
    <p>DIVARC GROUP 2014 все права защищены</p>
</div>