<ul class="news-list">
    <li>
        <a href="#" class="button orange">Добавить собитые</a>
        <dl>
            <dt>осталось событий</dt>
            <dd class="orange">4</dd>
        </dl>
    </li>
    <li>
        <a href="#" class="button blue">архив</a>
        <dl>
            <dt>активные события</dt>
            <dd class="light-green">12</dd>
        </dl>
    </li>
</ul>
<div class="post-block">
    <div class="post">
        <img src="" alt="" />
        <div class="holder">
            <strong>fasdsdf</strong>
            <p>fasdfasdfa</p>
            <div class="btn-holder"><a href="#" class="button light-green">подробнее</a><a href="#" class="button orange">удалить</a></div>
        </div>
    </div>
    <div class="post">
        <img src="" alt="" />
        <div class="holder">
            <strong></strong>
            <p></p>
            <div class="btn-holder"><a href="#" class="button light-green">подробнее</a><a href="#" class="button orange">удалить</a></div>
        </div>
    </div>
    <div class="post">
        <img src="" alt="" />
        <div class="holder">
            <strong></strong>
            <p></p>
            <div class="btn-holder"><a href="#" class="button light-green">подробнее</a><a href="#" class="button orange">удалить</a></div>
        </div>
    </div>
    <div class="post">
        <img src="" alt="" />
        <div class="holder">
            <strong></strong>
            <p></p>
            <div class="btn-holder"><a href="#" class="button light-green">подробнее</a><a href="#" class="button orange">удалить</a></div>
        </div>
    </div>
</div>