<ul class="news-list">
    <li>
        <a href="#" class="button orange">Добавить собитые</a>
        <dl>
            <dt>осталось событий</dt>
            <dd class="orange">4</dd>
        </dl>
    </li>
    <li>
        <a href="#" class="button blue">архив</a>
        <dl>
            <dt>активные события</dt>
            <dd class="light-green">12</dd>
        </dl>
    </li>
</ul>
<div class="scroll-view" style="overflow: hidden;bottom: 0;position: absolute;top: 125px; width: 100%;">
    {{# if (this.model.inRequest){ }}
    <div class="loader"></div>
    {{# }else{ }}
    <div class="post-block">
        {{# _(model).each(function(item, index){ }}
        <div class="post">
            <img {{ ('src=' + item.img + '') }} alt="" />
            <div class="holder">
                <strong>{{ item.title }}</strong>
                <p>{{ item.text }}</p>
                <div class="btn-holder"><a href="#" class="button light-green">подробнее</a><a href="#" class="button orange">удалить</a></div>
            </div>
        </div>
        {{# }) }}
    </div>
    {{# } }}
</div>