<table class="content-table">
    <tr>
        <th><span>id</span></th>
        <th><span>фио</span></th>
        <th><span>дата рождения</span></th>
        <th><span>бонусы</span></th>
        <th><span>сумма по счетам</span></th>
        <th><span>дата регистрации</span></th>
        <th><span>дата последнего посещения</span></th>
    </tr>
    <tr>
        <td>1</td>
        <td>ывффы</td>
        <td>вфы</td>
        <td>фыв</td>
        <td>выфв</td>
        <td>вфы</td>
        <td>вфывыф</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<form action="#" class="filter-form">
    <fieldset>
        <legend>фильтр</legend>
        <div class="holder">
            <div class="col">
                <strong>Возраст</strong>
                <div class="input-holder">
                    <div class="col">
                        <label for="">от</label>
                        <input type="text" name="" id="" />
                    </div>
                    <div class="col">
                        <label for="">до</label>
                        <input type="text" name="" id="" />
                    </div>
                </div>
            </div>
            <div class="col">
                <strong>дата регистрации</strong>
                <div class="row">
                    <label for="">недавно</label>
                    <input type="radio" name="" id="" />
                    <label for="">давно</label>
                    <input type="radio" name="" id="" />
                </div>
            </div>
            <div class="col">
                <strong></strong>
                <div class="row">
                    <label for="">недавно</label>
                    <input type="radio" name="" id="" />
                    <label for="">давно</label>
                    <input type="radio" name="" id="" />
                </div>
            </div>
            <div class="col">
                <strong></strong>
                <div class="row">
                    <label for="">недавно</label>
                    <input type="radio" name="" id="" />
                    <label for="">давно</label>
                    <input type="radio" name="" id="" />
                </div>
            </div>
            <div class="col">
                <strong></strong>
                <div class="row">
                    <label for="">недавно</label>
                    <input type="radio" name="" id="" />
                    <label for="">давно</label>
                    <input type="radio" name="" id="" />
                </div>
            </div>
        </div>
    </fieldset>
</form>