<div class="scroll-view" style="overflow: hidden;bottom: 205px;position: absolute;top: 0; width: 100%;">
<table class="content-table">
    <tr>
        <th><span>id</span></th>
        <th><span>фио</span></th>
        <th><span>дата рождения</span></th>
        <th><span>бонусы</span></th>
        <th><span>сумма по счетам</span></th>
        <th><span>дата регистрации</span></th>
        <th><span>дата последнего посещения</span></th>
    </tr>
    {{# var self = this; }}
    {{# _(model).each(function(item, index){ }}
    <tr>
        <td>{{ index }}</td>
        <td>{{ item.name }}</td>
        <td>{{ self.formatDate(item.dob) }}</td>
        <td>{{ item.bonus }}</td>
        <td>{{ item.spent }}</td>
        <td>{{ self.formatDate(item.regdate) }}</td>
        <td>{{ self.formatDate(item.lv) }}</td>
    </tr>

    {{# }) }}

</table>
</div>

<form action="#" class="filter-form" style="position: absolute; bottom: 0; height: 205px;">
    <fieldset>
        <legend>фильтр</legend>
        <div class="holder">
            <div class="col">
                <strong>Возраст</strong>
                <div class="input-holder">
                    <div class="col">
                        <label for="">от</label>
                        <input type="text" name="" id="" />
                    </div>
                    <div class="col">
                        <label for="">до</label>
                        <input type="text" name="" id="" />
                    </div>
                </div>
            </div>
            <div class="col">
                <strong>дата регистрации</strong>
                <div class="row">
                    <label for="">недавно</label>
                    <input type="radio" name="" id="" />
                    <label for="">давно</label>
                    <input type="radio" name="" id="" />
                </div>
            </div>
            <div class="col">
                <strong></strong>
                <div class="row">
                    <label for="">недавно</label>
                    <input type="radio" name="" id="" />
                    <label for="">давно</label>
                    <input type="radio" name="" id="" />
                </div>
            </div>
            <div class="col">
                <strong></strong>
                <div class="row">
                    <label for="">недавно</label>
                    <input type="radio" name="" id="" />
                    <label for="">давно</label>
                    <input type="radio" name="" id="" />
                </div>
            </div>
            <div class="col">
                <strong></strong>
                <div class="row">
                    <label for="">недавно</label>
                    <input type="radio" name="" id="" />
                    <label for="">давно</label>
                    <input type="radio" name="" id="" />
                </div>
            </div>
        </div>
    </fieldset>
</form>